---
import Base from "@/layouts/Base.astro";
import BlogSingle from "@/layouts/BlogSingle.astro";
import { sanityClient } from "sanity:client";
import Breadcrumbs from "@/components/Breadcrumbs.astro";

export const prerender = true;

export async function getStaticPaths() {
  const posts = await sanityClient.fetch(`
    *[_type == "post"] {
      "slug": slug.current,
      title,
      date,
      "image": image.asset->url,
      "body": body[] {
        ...,
        _type == "image" => {
          ...,
          "asset": {
            ...,
            "url": asset->url
          }
        }
      },
      excerpt,
      "author": author->{
        name,
        "slug": slug.current,
        "image": image.asset->url
      }
    }
  `);

  return posts.map((post: { slug: string }) => ({
    params: { single: post.slug },
    props: { post },
  }));
}

const { post } = Astro.props;
const { title, excerpt, image } = post;
---

<Base
  title={title}
  meta_title={title}
  description={excerpt || ""}
  image={image}>
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <Breadcrumbs className="mt-4" />
        </div>
      </div>
    </div>
  </section>
  <BlogSingle post={post} />
</Base>
